.module {
	&:first-child {
		.module-heading {
			border-radius: 0;
		}
	}
	&-heading {
		background: @light-gray;
		border-top: none;
		border-bottom: none;
		border-left: 3px solid @yellow;
		margin-bottom: 3px;
		margin-top: 0;
		line-height: 1.5;
		font-size: 16px;
		position: relative;
		border-radius: 0;
		.icon-medium, .icon-info-sign {
			font-size: 16px;
		}
	}
	&-content {
		padding: 0;
		.image {
			text-align: center;
			a {
				display: inline-block;
				border-radius: 0;
				img {
					border-radius: 0;
				}
			}
		}
	}
	.dataset-price {
		float: left;
		font-size: 30px;
		line-height: 30px;
		font-weight: 700;
		margin-right: 10px;
	}
}

.filters {
	.module {
		&-content {
			padding: 5px 10px;
		}
		&-heading {

		}
		&-footer {
			border-top: none;
		}
		&:first-child {
			.module-heading {
				.icon-filter:before {
					content: "\f0f7";
				}
			}
		}
		&:nth-child(2) {
			.module-heading {
				.icon-filter:before {
					content: "\f0c0";
				}
			}
		}
		&:nth-child(3) {
			.module-heading .icon-filter:before  {
				content: "\f02c";
			}
		}
		&:nth-child(4) {
			.module-heading .icon-filter:before  {
				content: "\f15b";
			}
		}
		&:nth-child(5) {
			.module-heading .icon-filter:before  {
				content: "\f0f6";
			}
		}

	}

	.nav {
		li {
			a {
				display: block;
				padding: 5px 15px;
				-webkit-transition: all 0.3s linear;
				-moz-transition: all 0.3s linear;
				-ms-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
				transition: all 0.3s linear;
				&:hover {
					color: @dark-gray;
					&:after {
						content: "\f067";
						font: normal normal normal 14px/1 FontAwesome;
					  	background: none;
					  	color: @dark-gray;
					  	margin-top: -7px;
					}
				}
			}
			&.active {
				border-bottom-color: @dark-gray;
				a {
					color: @dark-gray;
					background: @yellow;
					&:before {
						position: absolute;
						left: 100%;
						top: 0;
						width: 0;
						height: 0;
						background: none;
						border-top: 15px solid transparent;
						border-bottom: 15px solid transparent;
						border-left: 8px solid @yellow;
					}
					&:after {
						content: "\f00d";
						background: none;
						font: normal normal normal 14px/1 FontAwesome;
						color: #333333;
					  	margin-top: -7px;
					  	right: 5px;
					}
					&:hover {
						color: @dark-gray;
					}
				}
			}
		}
	}
}
.nav-simple>li, .nav-aside>li {
    border-bottom: 1px dashed @gray;
}



.search-form {
	padding-bottom: 0;
	border-bottom: none;
	input[type="text"] {
		border-radius: 0;
		background-color: @white;
		border: 1px solid #cccccc;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border linear .2s, box-shadow linear .2s;
		-moz-transition: border linear .2s, box-shadow linear .2s;
		-o-transition: border linear .2s, box-shadow linear .2s;
		transition: border linear .2s, box-shadow linear .2s;
		&:focus {
			border-color: @yellow;
			outline: 0;
			outline: thin dotted \9;
			-webkit-box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
								0 0 8px rgba(253, 198, 0, .6);
			-moz-box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
								0 0 8px rgba(253, 198, 0, .6);
			box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
								0 0 8px rgba(253, 198, 0, .6);
		}
	}
}


.dataset {
	&-list {
		border-top: 1px solid @gray;
		border-bottom: 1px solid @gray;
		.dataset-heading {
			font-size: 18px;
			margin: 15px 0 10px;
			a {
				text-decoration: none;
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-ms-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
				transition: all 0.2s linear;
				border-bottom: 1px solid transparent;
				&:hover {
					color: @yellow;
					border-color: @yellow;
				}
			}
		}
		.dataset-resources {
			margin-top: 15px;
			li {
				margin-right: 10px;
				display: inline-block;
				a {
					display: block;
					padding: 6px 8px;
					text-align: center;
					border-radius: 3px;
					color: @white;
					text-shadow: none;
					font-size: 14px;
					font-weight: normal;
				}
			}
		}
	}
	&-item {
		padding-bottom: 15px;
		margin-bottom: 15px;
		list-style: none;
		border-bottom: 1px dashed @gray;
		&:last-of-type {
			padding-bottom: 15px;
		}
	}
}

.resource {
	&-list {
		margin: 0 -10px 10px -10px;
	}
	&-item {
		background: none;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border: 1px solid transparent;
		border-radius: 0;
		&:hover {
			background: lighten(@yellow, 25%);
			border: 1px solid @yellow;
		}
		.btn-group {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
}

.tag {
    display: inline-block;
    background: @white;
    padding: 3px 10px;
    border: 1px solid @gray;
    border-radius: 3px;
   	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;

	&-list {
		box-shadow: none;
		border: none;
    	border-left: 3px solid @yellow;
    	border-radius: 0;
	}
}
a.tag:hover {
	background: lighten(@yellow, 25%);
	border-color: @dark-gray;
	box-shadow: none;
	color: @dark-gray;
}


.table-bordered thead:first-child tr:first-child>th:first-child,
.table-bordered thead:first-child tr:first-child>th:last-child {
	border-radius: 0;
	border: 0;
}
.table-bordered thead:first-child tr:first-child>th:first-child {
	border-right: 1px solid @gray;
}
.additional-info  {
	.table {
		border-radius: 0;
		border: 1px solid @gray;
		th {
			border-right: 1px solid @gray;
			border-left: none;
		}
		td {
			border-left: none;
		}
		thead {
			tr {
				th {
					background: lighten(@yellow, 25%);
					border-bottom: 1px solid @gray !important;
					&:first-child {
						border-right: 1px solid @gray !important;
					}
				}
			}
		}
		tbody {
			tr:first-child {
				td, th {
					border-top: none;
				}
			}
		}
	}
}