.stages {
	margin: 0 0 20px;
	li {
		background: @dark-gray;
		.highlight  {
			color: @yellow;
			font-size: 17px;
			padding: 10px 52px 10px 62px;
		}
		&:before {
			background: @dark-gray;
			border: 1px solid @yellow;
			color: @yellow;
		}
		&:after {
			border-top-color: @dark-gray;
			border-bottom-color: @dark-gray;
		}
		&.active {
			.highlight {
				background: @yellow;
				color: @dark-gray;
			}
			&:before {
				border-color: @dark-gray;
				color: @dark-gray;
				background: transparent;
			}
			&:after {
				border-top-color: @dark-gray;
				border-bottom-color: @dark-gray;
			}
		}
		&.complete{
			.highlight {
				background: @dark-gray;
				color: @yellow;
			}
			&:before {
				border-color: @yellow;
				background: transparent;
				color: @yellow;
			}
			&:after {
				border-top-color: @dark-gray;
				border-bottom-color: @dark-gray;
			}
		}
	}
}

div[data-module="custom-fields"] {
	input {
		margin-right: 10px;
	}
}
