#header {
  position: relative;

  .container {
    padding: 0 15px;
  }

  .header-top-bar  {
    width: 100%;
    padding: 10px 0;

    .header-login,
    .header-register,
    .header-social,
    .header-language {
      position: relative;
      float: left;
      z-index: 9999;
      margin-left: 20px;
      padding: 6px 0;
      font-weight: 700;
    }

    .header-login,
    .header-register {
      float: right;
      a {
        color: @dark-gray;
      }
      div {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 99;
        padding: 20px;
        width: 350px;
        height: auto;
        transition: all .4s ease;

        input {
          margin-bottom: 15px;
          border: 1px solid @gray;
          font-weight: normal;
        }

        a {
          color: @yellow;
        }
      }

      &.active div {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    .header-logo {
      float: left;
      width: 66%;
      text-align: center;
      text-transform: uppercase;

      h2 {
        margin: 0;
        font-family: @raleway-font;
        font-weight: 800;
      }

      a {

        .icon-medium {
          position: relative;
          padding: 0 6px;
          color: @yellow;
          font-size: 34px;
        }

        &:hover {
          color: inherit;
        }
      }

      @media @desktop {
        width: 60%;
      }
    }

    .header-social,
    .header-language {
      text-align: left;

      > a {
        color: @gray;

        .fa-chevron-down {
          position: relative;
          top: -2px;
          font-size: 10px;
        }

        &:hover {
          color: @yellow;
        }
      }

      ul {
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 999;
        margin: 0;
        visibility: hidden;
        opacity: 0;

        li {
          padding: 10px 15px 0;
          background-color: fade(@gray, 80%);
          margin: 0;
          &:last-child {
            padding-bottom: 10px;
          }
        }

        a {
          color: #fff;

          .fa {
            font-size: 24px;
          }

          &:hover {
            color: @yellow;
          }
        }
      }

      &.active ul{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }

      @media @tablet {
        display: none;
      }
    }

    .header-call-to-action {
      float: right;

      @media @tablet {
        padding-top: 40px;
        float: left;

        .btn {
          padding: 5px 10px;
          font-size: 11px;
        }
      }
    }

    @media @tablet  {
      .header-login,
      .header-register {
        padding-top: 40px;

        div {
          top: 80px;
          @media @mobile {
            width: 280px;
          }
        }
      }

      .header-logo {
        position: absolute;
        top: 10px;
        left: 6%;
        width: 100%;
      }
    }

    @media @mobile {
      .header-register {
        div {
          left: -70px;
        }
      }
    }

  }

  .header-nav-bar {
    position: relative;
    z-index: 5;

    button {
      display: none;
      outline: none;
      border: none;
    }

    @media @tablet {
      border-bottom: 0;
      position: fixed;
      top: 0;
      right: -220px;
      z-index: 9999 !important;
      height: 100%;
      width: 220px;
      overflow: visible;
      transition: all .3s ease;

      &.active {
        right: 0;
      }

      button {
        display: block;
        position: absolute;
        left: -35px;
        top: 5px;
        z-index: 9999;
        height: 40px;
        width: 35px;
        line-height: 37px;
        background-color: @yellow;
        color: #333;
        font-size: 21px;
        font-weight: bold;
        border-radius: 0;

        .icon-reorder {
          font-size: 21px;
        }

        &.active {
          background-color: darken(@dark-default, 10%);

          .fa-bars {
            display: none;
          }

          &:before {
            content: '';
          }
        }
      }
    }


    .primary-nav {
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;

      @media @tablet {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: darken(@dark-default, 10%);

      }

      > li {
        position: relative;
        float: left;
        border-right: 1px solid lighten(@dark-default, 70%);

        &:first-child {
          border-left: none;
          >a {
            padding: 0 26px;            
          }
        }
        &:last-child {
          border-right: none;
        }

        > a {
          display: block;
          color: @dark-default;
          font-weight: 800;
          font-size: 14px;
          line-height: 32px;
          padding: 0px 29px;
          text-transform: uppercase;
          text-decoration: none;

          &.home-logo {
            height: 32px;
          }
          
          img {
            vertical-align: top;
          }

          &:hover {
            color: lighten(@dark-default, 15%);
          }

          .icon-medium {
            position: absolute;
            right: 8px;
            top: 6px;
          }
        }

        &.bg-color {
          background-color: @yellow;
        }

        &.active {

          > ul {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }

          @media @tablet {
            background-color: @dark-default;
            ul li {
              background-color: darken(@dark-default, 10%);
            }
          }
        }
      }

      ul {
        position: absolute;
        top: 105%;
        left: 0;
        z-index: 9999;
        visibility: hidden;
        margin: 0;
        padding: 0 0 20px 0;
        list-style: none;
        opacity: 0;
        transition: all .3s ease;

        > li {
          position: relative;

          > a {
            display: block;
            padding: 10px 20px;
            width: 200px;
            border-bottom: 1px solid @dark-default;
            background-color: rgba(0, 0, 0, 0.85);
            color: #ffffff;
            transition: all .3s ease;
            text-decoration: none;

            &:hover {
              color: @yellow;
              background-color: lighten(@dark-default, 10%);
            }
          }

          &:last-child a {
              // border-radius: 0 0 @border-radius-small @border-radius-small;
          }
        }
      }

      @media @desktop {
        > li > a {
          font-size: 13px;
          padding: 0 21px;

        }
      }

      @media @tablet {

        > li {
          float: none;
          border: 0;

          &:first-child {
            border-left: 0;
          }

          > a {
            line-height: 35px;
            color: #fff;
            border-bottom: 1px solid darken(@dark-default, 5%);

            .fa {
              top: 10px;
              right: 10px;
            }

            &:hover {
              color: #ddd;
            }
          }

          &.active {
            background-color: lighten(@dark-default, 10%);

            > ul {
              position: relative;
              transform: translateY(0);
            }
          }

           ul {
            padding-bottom: 5px;
            transform: translateY(5px);

            li a {
              color: #f8f8f8;
              background-color: lighten(@dark-default, 5%);
              width: 100%;
              padding: 5px 30px;
              border-bottom: 0;

              &:hover {
                background-color: @yellow;
                color: inherit;
              }
            }
          }
        }
      }
    }
  }



}

.account-masthead {
  background: none;
  .account {
    ul {
      li {
        border-color: #e5e5e5;
        a {
          color: #333333;
          &:hover {
            background: transparent;
            color: @yellow;
          }
        }
      }
    }
  }
}