.btn {
	outline: none;
	border-radius: 0;
	background: @white;
	&:focus {
		outline: none;
	}
	&-warning {
		background: @orange;
		&:hover, &:focus {
			background: darken(@orange, 5%)
		}
	}
	&-danger {
		background-color: #da4f49;
	    background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
	    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	    background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
	    background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
	    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
	    background-repeat: repeat-x;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);
	    border-color: #bd362f #bd362f #802420;
	    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
	&-success {
		background-color: #5bb75b;
	    background-image: -moz-linear-gradient(top,#62c462,#51a351);
	    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
	    background-image: -o-linear-gradient(top,#62c462,#51a351);
	    background-image: linear-gradient(to bottom,#62c462,#51a351);
	    background-repeat: repeat-x;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
	    border-color: #51a351 #51a351 #387038;
	    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
	&-primary {
		background: lighten(@dark-gray, 5%);
		&:hover, &:focus {
			background: @dark-gray;
		}
	}
	&-group {
		&.open {
			.btn-primary.dropdown-toggle {
				background: @dark-gray;
			}
		}
	}
}

.btn-group>.btn:first-child {
	border-radius: 0;
}


.dropdown-menu {
	border-radius: 0;
	li {
		a {
			&:hover, &:focus {
				background: @dark-gray;
			}
		}
	}
}