.select2 {
	&-container {
		.select2-choice {
			border-color: @gray;
			border-radius: 0;
			.select2-arrow {
				border-radius: 0;
			}
		}
		&-multi {
			.select2-choices {
				border-radius: 0;
				border: 1px solid @gray;
				.select2-search-choice {
					background: @white;
					color: @dark-gray;
					border-color: @gray;
					transition: all, 0.2s, linear;
					&:hover {
						background: @yellow;
						color: @dark-gray;
						border-color: @dark-gray;
					}
				}
			}
		}
	}
	&-drop {
		border-radius: 0;
		&-active {
			border-color: @yellow;
		}
	}
	&-results {
		.select2-highlighted {
			background: @dark-gray;
		}
	}
}
.select2-container-active .select2-choices,
.select2-container-multi.select2-container-active .select2-choices {
	border-color: @yellow;
	-webkit-box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
						0 0 8px rgba(253, 198, 0, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
						0 0 8px rgba(253, 198, 0, .6);
	box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
						0 0 8px rgba(253, 198, 0, .6);
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
	border-color: @yellow;
	-webkit-box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
						0 0 8px rgba(253, 198, 0, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
						0 0 8px rgba(253, 198, 0, .6);
	box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
						0 0 8px rgba(253, 198, 0, .6);
}
.select2-search-choice-close {
	background-position: right -11px;
}