
<script>

    // retrieving extra data for footer
    (function($) {
        var url = 'http://127.0.0.1:8000/ololo';

        $.ajax({
            type: 'POST',
            url: url,
            async: false,
            //jsonpCallback: 'jsonCallback',
            contentType: "application/json",
            dataType: 'jsonp',
            success: function(result) {
               console.dir(result);
            },
            error: function(e) {
               console.log(e);
            }
        });

    })(jQuery);

</script>


<footer id="footer">
    <div class="main-footer">

        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="about-globo">
                        <h3>About Globo</h3>
                        <div class="footer-logo">
                            <a href="#"><img src="img/footer_logo.png" alt=""></a>
                            <span></span>
                            <!-- This content for overlay effect -->
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.</p>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h3>Latest From Blog</h3>

                    <div class="latest-post clearfix">

                    <div class="post-image">
                        <img src="img/content/latest_post_1.jpg" alt="">
                                <p><span>12</span>Sep</p>
                    </div>

                    <h4><a href="#">Post Title Goes Here</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                <div class="latest-post clearfix">
                    <div class="post-image">
                        <img src="img/content/latest_post_2.jpg" alt="">

                        <p><span>09</span>Sep</p>
                    </div>

                    <h4><a href="#">Post Title Goes Here</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
                        <!-- end Grid layout-->

                        <div class="col-md-3 col-sm-6 clearfix">
                            <div class="popular-categories">
                                <h3>Popular Categories</h3>

                                <ul>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i>E-commerce</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-paper-plane-o"></i>Entertainment</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-cogs"></i>Industry</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-book"></i>Libraries &amp; Public Office</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-building-o"></i>Real Estate</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end .popular-categories-->
                        </div>
                        <!-- end Grid layout-->

                        <div class="col-md-3 col-sm-6">
                            <div class="newsletter">
                                <h3>Newsletter</h3>

                                <form action="#">
                                    <input type="Email" placeholder="Email address">
                                    <button><i class="fa fa-plus"></i>
                                    </button>
                                </form>

                                <h3>Keep In Touch</h3>

                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end .newsletter-->

                        </div>
                        <!-- end Grid layout-->
                    </div>
                    <!-- end .row -->
                </div>
                <!-- end .container -->
            </div>
            <!-- end .main-footer -->

            <div class="copyright">
                <div class="container">
                    <p>Copyright 2014 &copy; globo. All rights reserved. Powered by <a href="#">Uouapps</a>
                    </p>

                    <ul class="list-inline">
                        <li><a href="#">FAQ</a>
                        </li>
                        <li><a href="#">Privacy</a>
                        </li>
                        <li><a href="#">Terms</a>
                        </li>
                        <li><a href="#">Licence</a>
                        </li>

                    </ul>
                </div>
                <!-- END .container -->
            </div>
            <!-- end .copyright-->
          {% block footer_debug %}
              {% if g.debug %}
                {% include 'snippets/debug.html' %}
              {% endif %}
          {% endblock %}
        </footer>
