<header id="header">
    <div class="header-top-bar">

        <div class="container">

            <!-- top navigation -->
            <div class="header-nav-bar">
                <nav>
                    <button><i class="fa fa-bars"></i></button>

                    <ul class="primary-nav list-unstyled">
                        <li><a href="#">About<i class="fa fa-angle-down"></i></a>
                            <ul>
                                <li><a href="#">Case Studies</a></li>
                                <li><a href="#">Data Examples</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms</a></li>
                            </ul>
                        </li>
                        <li><a href="#">How it Works<i class="fa fa-angle-down"></i></a>
                            <ul>
                                <li><a href="#">Buyer Guide</a></li>
                                <li><a href="#">Seller Guide</a></li>
                                <li><a href="#">License Terms</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Community<i class="fa fa-angle-down"></i></a>
                            <ul>
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">Crowdsourcing</a></li>
                                <li><a href="#">Member Directory</a></li>
                                <li><a href="#">Partner Directory</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Data search<i class="fa fa-angle-down"></i></a>
                            <ul>
                                <li><a href="#">All Data</a></li>
                                <li><a href="#">Search Results</a></li>
                                <li><a href="#">About data</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </nav>
            </div>

            <!-- header buttons -->
            <div class="header-login">
                <a href="#" class=""><i class="fa fa-power-off"></i> Login</a>
                <div>
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Username">
                        <input type="password" class="form-control" placeholder="Password">
                        <input type="submit" class="btn btn-default" value="Login">
                        <a href="#" class="btn btn-link">Forgot Password?</a>
                    </form>
                </div>
            </div>

            <div class="header-register">
                <a href="#" class=""><i class="fa fa-plus-square"></i> Register</a>
                <div>
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Username">
                        <input type="email" class="form-control" placeholder="Email">
                        <input type="password" class="form-control" placeholder="Password">
                        <input type="submit" class="btn btn-default" value="Register">
                    </form>
                </div>

            </div>

            <div class="header-call-to-action">
                <a href="#" class="btn btn-default"><i class="fa fa-info"></i> Payment Deatails</a>
            </div>

        </div>
    </div>

</header>