{% ckan_extends %}

{% block extras %}
  {% if pkg_dict.custom_text %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Price") }}</th>
      <td class="dataset-details">{{ pkg_dict.price }}</td>
    </tr>
  {% endif %}
{% endblock %}