{% ckan_extends %}

{% block package_basic_fields_custom %}
{#<div class="control-group control-medium">#}
{#    <label class="control-label" for="field-price">Price, £</label>#}
{#    <div class="controls ">#}
{#      #}
{#    <input id="field-price" type="text" name="price" value="" placeholder="0.00">#}
{#  #}
{#      #}
{#      #}
{#    </div>#}
{#</div>#}

<div class="control-group control-medium">
    <label class="control-label" for="field-extras-0-value">Price, £</label>
    <div class="controls ">
      <input id="field-extras-0-key" type="hidden" name="extras__0__key" value="price" placeholder="" >
      <input id="field-extras-0-value" type="text" name="extras__0__value" value="" placeholder="0.00">
    </div>
</div>
{% endblock %}