* {
	box-sizing: border-box;}

body {
	background: @white;
	font-family: @main-font;
	@media @mobile {
		padding: 0;
	}
}
.container {
	width: 1170px;
	padding: 0 15px;
	@media @desktop {
		width: 970px;
	}
	@media @tablet {
		width: 750px;
	}
	@media @mobile {
		width: 100%;
	}
}

.row {
	margin-left: 0;
	@media @mobile {
		margin: 0;
	}
}
.wrapper {
	padding: 20px;
	background: @white;
	border-radius: 0;
	box-shadow: 0 0 0 5px rgba(0,0,0,.2);
}

.list-inline {
    list-style: none;
    padding-left: 0;
    margin-left: -5px;
    li {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
    }
}

.pill {
	border-radius: 0;
	background: @dark-gray;
	color: @yellow;
}
.filter-list .pill .icon-remove {
	color: @yellow;
}

[role=main] .primary {
	width: 70%;
	padding-left: 15px;

	@media @mobile {
		width: 100%;
		float: none;
	}
}
[role=main] .secondary {
	width: 30%;
	padding-right: 15px;

	@media @mobile {
		width: 100%;
		float: none;
	}
}
[role=main], .main{
	background: url(../../../img/main-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.masthead {
    min-height: 55px;
    color: @white;
    background: #333333 url("../../../base/images/bg.png");
}

.control-custom .checkbox.btn {
	border-radius: 0;
	margin-top: 5px;
	&:before {
		top: -3px;
		left: -6px;
	}
}

.page-header {
	background-color: transparent;
	.nav-tabs {
		> li {
			> a {
				color: @gray;
			}
			&.active {
				> a {
					color: @dark-gray;
				}
			}
		}
	}
}
.span9 .page-header {
    margin-left: 0;
}
.span9 div.module-content {
	padding: 0;
}
.module-content:first-child {
    padding-top: 0;
}
.module-content:last-child {
	padding-bottom: 0;
}
.page-header .content_action {
	margin-top: 0;
	margin-right: 0;
}

.form-horizontal .form-actions {
	padding-left: 0;
	padding-right: 0;
	.action-info {
		margin-right: 20px;
	}
}

.label {
	border-radius: 0;
}

.nav-tabs>li>a {
	border-radius: 0;
}

select {
	border-radius: 0;
	outline: none !important;
}
input[type="text"] {
	height: auto;
}
.input-append .add-on, .input-prepend .add-on {
	height: auto;
}
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	height: auto;
	border: 1px solid @gray;
	border-radius: 0;
	&:focus {
		border-color: rgba(253, 198, 0, 1);
		-webkit-box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
							0 0 8px rgba(253, 198, 0, .6);
		-moz-box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
							0 0 8px rgba(253, 198, 0, .6);
		box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
							0 0 8px rgba(253, 198, 0, .6);
	}
}

.alert-danger, .alert-error {
	border-radius: 0;
	border-color: @red;
	color: @red;
	background-color: lighten(@red, 45%);
}
.error-block {
	background-color: lighten(@red, 45%);
	border-left: 1px solid @red;
	border-right: 1px solid @red;
	border-bottom: 1px solid @red;
	color: @red;
	border-radius: 0;
}
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
	border-color: @red;
	color: @red;
}
.control-group.error input, .control-group.error select, .control-group.error textarea, .control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
	border-color: @red;
	color: @red;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
	border-radius: 0;
}

.control-custom input:last-of-type {
	border-radius: 0;
}

.editor {
	textarea {
		border-radius: 0;
	}
	.editor-info-block {
		border-radius: 0;
	}
}

.form-actions {
	margin-left: 0;
	margin-right: 0;
}

.toolbar {
	.breadcrumb {
		li {
			text-shadow: none;
			color: @white;
			&.active {
				a {
					font-weight: normal;
				}
			}
		}
		a {
			color: @white;
			&:hover {
				color: @yellow;
			}
		}
	}
}


.account-masthead {
	position: relative;
	.account {

		.user-name {
			display: inline-block;
			vertical-align: middle;
			color: #333;
		}

		.user-btn {
			margin-top: 2px;
			margin-left: 4px;
			border: 1px solid #e5e5e5;
			padding: 2px 5px 3px;
			display: inline-block;
			color: #333333;
			text-decoration: none;
			i {
				font-size: 20px;
				vertical-align: middle;
			}
			&:hover {
				color: #333;
				border-color: #333;
			}
			&.opened {
				background: #333;
				border-color: #333;
				color: #fdc600;
			}
		}
		.user-nav {
			display: none;
			position: absolute;
			top: 100%;
			right: 0;
			width: 250px;
			background: rgba(0,0,0,.7);
			padding: 10px 0;
			margin-top: 10px;
			text-align: left;
			z-index: 10;
			li {
				display: block;
				float: none;
				border: none;
				font-size: 14px;
				line-height: 20px;
				&.email {
					color: @yellow;
					padding: 10px 30px;
					margin: 0;
					text-align: center;
				}
				&.logout a {
					font-weight: 700;
					text-align: center;
				}
			}
			a {
				font-weight: normal;
				display: block;
				padding: 10px 30px;
				color: #ffffff;
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent;
				line-height: 1;
				transition: all .3s linear;
				font-size: 14px;
				line-height: 20px;
				&:hover {
					background: rgba(0,0,0,.2);
					border-color: rgba(253,198,0,.7);
					color: #fdc600;
				}
			}
			i {
				margin-right: 8px;
			}
		}
		&.authed  {
			.image {
				padding: 10px 30px;
			}
		}
	}

	@media @tablet {
		padding-right: 25px;
	}

	@media @mobile {
		margin-left: 0;
		margin-right: 0;
	}

	@media @portrain {
		padding-right: 0;
		text-align: center;

		.account {
			float: none;
			display: inline-block;
			margin-top: 10px;

			.user-nav {
				width: 100%;
			}
		}
	}
}


.media-grid {
	margin: 0;
	margin-top: 15px;
	background: none;
	border-top: 1px dashed #dddddd;
	border-bottom: none;
}
.media-view {
	&:hover {
		border-color: @yellow;
	}
}


.main-logo {
  height: 32px;
  float: left;
  position: relative;
  z-index: 5;

  @media @portrain {
    float: none;
    text-align: center;
  }
}

.btn {
	text-shadow: none;
	font-weight: normal;
	border-color: #333;
	padding: 5px 10px;

	&:hover {
		box-shadow: none;
	}

  &-account {
    border-radius: 0;
    border-color: @dark-default;

    &:hover {
      color: @yellow;
      background-color: @dark-default;
    }
  }
}