@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@gray-base:         #000;
@gray-dark:         lighten(@gray-base, 20%);   // #333
@base-color:        @gray-dark;  // #333
@default-color:     #fdc600;  // yellow

@gray-bg:           lighten(@gray-light, 50.5%); // f8f8f8

/* fonts */

@font-family-base:  "open-sans", Helvetica, Arial, sans-serif;
@font-family-secondary:  'Raleway', sans-serif;

@font-weight-large:    700;






@main-font: 'Open Sans', sans-serif;
@raleway-font: 'Raleway', sans-serif;

@white: #ffffff;
@black: #000000;

@red: #d8000c;





@light-gray: #efefef;
@gray: #c4c4c4;
@dark-gray: #444444;
@dark-default: #333;

@yellow: #fdc600;
@orange: #f89406;

@desktop: ~"only screen and (max-width : 1199px)";
@tablet: ~"only screen and (max-width : 991px)";
@mobile: ~"only screen and (max-width : 768px)";
@portrain: ~"only screen and (max-width : 480px)";