{% extends 'base.html' %}

{% set pkg = c.pkg_dict %}
{% set pkg_dict = c.pkg_dict %}

{% block content %}


    <!-- breadcrumbs here -->
{#    <div class="container">#}
{#        {% block breadcrumb_content_selected %}{% endblock %}#}
{##}
{#        {% block breadcrumb_content %}#}
{#          {{ super() }}#}
{#          {% if pkg %}#}
{#            <li class="active">{% link_for _('Edit'), controller='package', action='edit', id=pkg.name %}</li>#}
{#          {% endif %}#}
{#        {% endblock %}#}
{#    </div>#}

    <div class="container container_white">



    {{ h.build_nav_icon('dataset_edit', _('Edit metadata'), id=pkg.name) }}
    {{ h.build_nav_icon('dataset_resources', _('Resources'), id=pkg.name) }}
    {% snippet 'package/snippets/info.html', pkg=pkg, hide_follow_button=true %}

    <section class="module">
        <div class="module-content">
          {{- h.snippet(form_snippet, c=c, **form_vars) -}}
        </div>
    </section>


    <section class="module module-narrow module-shallow">
        <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are datasets?') }}</h2>
        <div class="module-content">
            <p>
                {% trans %}
                    A CKAN Dataset is a collection of data resources (such as files),
                    together with a description and other information, at a fixed URL.
                    Datasets are what users see when searching for data.
                {% endtrans %}
            </p>
        </div>
    </section>

    {% snippet "package/snippets/resources.html", pkg={}, action='new_resource' %}
    </div>
{% endblock %}