{% extends 'base.html' %}

{% set pkg = c.pkg_dict %}

{% block content %}

    <div class="face-bg">

        <!-- breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="dataset-crumbs">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Datasets</a></li>
                        <li><a href="#">Single dataset</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container container_white container_dataset">
            <div class="row">

                <div class="col-lg-4 col-md-4 dataset-sidebar">

                    <!-- package sidebar info -->
                    {% snippet 'package/snippets/info.html', pkg=pkg %}

                    <!-- package organizations -->
                        {% if pkg.organization %}
                            {% set org = h.get_organization(pkg.organization.name) %}
                            {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
                        {% endif %}

                    <!-- package license -->
                    {% snippet "snippets/license.html", pkg_dict=pkg %}
                </div>

                <div class="col-lg-8 col-md-8 dataset-content">

                    <!-- package description -->
                    {% if pkg.private %}
                        <span class="dataset-private label label-inverse pull-right">
                            <i class="icon-lock"></i>
                            {{ _('Private') }}
                        </span>
                    {% endif %}

                    <div class="manage-btn">
                    <!-- manage package -->
                    {% if h.check_access('package_update', {'id':pkg.id }) %}
                        {% link_for _('Manage'), controller='package', action='edit', id=pkg.name, class_='btn', icon='wrench' %}
                    {% endif %}
                    </div>

                    <h1>{{ pkg.title or pkg.name }}</h1>

                    <hr>



                    <!--- package notes -->
                    {% if pkg.notes %}
                        <div class="notes embedded-content">
                            {{ h.render_markdown(pkg.notes) }}
                        </div>
                    {% endif %}

                    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

                    {% snippet "package/snippets/tags.html", tags=pkg.tags %}

                    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}

                </div>

            </div>
        </div>
    </div>

{% endblock %}