{% extends 'base.html' %}

{% block content %}

    <div class="face-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="dataset-crumbs">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Datasets</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container container_white container_dataset">
            <div class="row">
                <div class="col-lg-4 col-md-4">

                    <div class="filters">
                      <div>
                          {% for facet in c.facet_titles %}
                              {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
                          {% endfor %}
                      </div>
                    </div>
                    

                    <!--<div class="filter-area">
                        <div class="filter-title">
                            <h4><i class="fa fa fa-building-o"></i> Organizations</h4>
                        </div>
                        <ul>
                            <li><a href="#">Ministerio del Trabajo (55) <i class="fa fa-plus fa_filter"></i></a></li>
                            <li><a href="#">Ministerio del Trabajo (55) <i class="fa fa-plus fa_filter"></i></a></li>
                            <li>...</li>
                        </ul>
                    </div>

                    <div class="filter-area">
                        <div class="filter-title">
                            <h4><i class="fa fa-users"></i> Groups</h4>
                        </div>
                        <ul>
                            <li><a href="#">Ministerio del Trabajo (55) <i class="fa fa-plus fa_filter"></i></a></li>
                            <li><a href="#">Ministerio del Trabajo (55) <i class="fa fa-plus fa_filter"></i></a></li>
                            <li>...</li>
                        </ul>
                    </div>

                    <div class="filter-area">
                        <div class="filter-title">
                            <h4><i class="fa fa-tags"></i> Tags</h4>
                        </div>
                            <li><a href="#">Ministerio del Trabajo (55) <i class="fa fa-plus fa_filter"></i></a></li>
                            <li><a href="#">Ministerio del Trabajo (55) <i class="fa fa-plus fa_filter"></i></a></li>
                        </ul>
                    </div>

                    <div class="filter-area filter-area_active">
                        <div class="filter-title">
                            <h4><i class="fa fa-file-text-o"></i> License</h4>
                        </div>
                        <ul>
                            <li><a href="#">Ministerio del Trabajo (55) <i class="fa fa-plus fa_filter"></i></a></li>
                            <li class="active"><a href="#">Ministerio del Trabajo (55) <i class="fa fa-close fa_filter"></i></a></li>
                            <li><a href="#">Ministerio del Trabajo (55) <i class="fa fa-plus fa_filter"></i></a></li>

                        </ul>
                    </div>-->

                </div>
                <div class="col-lg-8 col-md-8">

                    {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}

                    <!--<form class="searchbar-form">
                        <input class="datasets-searchbar" placeholder="Search datasets..." />
                        <button><i class="fa fa-search"></i></button>
                    </form>-->

                    <!--<div class="search-result-title">
                        <div class="row">
                            <div class="col-lg-8"><h3>265 datasets found</h3></div>
                            <div class="col-lg-4">
                                <select>
                                    <option selected="selected">Relevance</option>
                                    <option>Name Ascending</option>
                                    <option>Name Descending</option>
                                    <option>Last Modified</option>
                                    <option>Popular</option>
                                </select>
                            </div>
                        </div>
                    </div>-->
                    <div class="results-container">
                        {% block package_search_results_list %}
                            {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
                        {% endblock %}

                        <!--<div class="single-result">
                            <a href="#"><h4>Agenda</h4></a>
                            <p>Lorem ipsum dolor sit amet</p>
                            <ul>
                                <li class="result-color_orange transition-3"><a href="#">json</a></li>
                                <li class="result-color_green transition-3"><a href="#">xls</a></li>
                                <li class="result-color_orange transition-3"><a href="#">xml</a></li>
                            </ul>
                        </div>-->

                    </div>
                        {% block page_pagination %}
                            {{ c.page.pager(q=c.q) }}
                        {% endblock %}

                    <!-- Pagination -->
{#                    <nav>#}
{#                        <ul class="pagination">#}
{#                            <li>#}
{#                                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>#}
{#                            </li>#}
{#                            <li><a href="#">1</a></li>#}
{#                            <li class="active"><a href="#">2</a></li>#}
{#                            <li><a href="#">3</a></li>#}
{#                            <li><a href="#">4</a></li>#}
{#                            <li><a href="#">5</a></li>#}
{#                            <li>#}
{#                                <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </nav>#}

                </div>
            </div>
        </div>
    </div>


{% endblock %}