{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}

  {% if pkg %}
    <section class="module module-narrow">
      <div class="module context-info">
        <div class="module-content">

            <h2 class="module-heading"><i class="fa fa-credit-card"></i>Price</h2>
            
            <div class="module-inner">

              <span class="dataset-price">1299 $</span>
 
				<a href="#" class="btn btn-success">Buy</a>

            </div>

        </div>
      </div>
    </section>
  {% endif %}
