{% if tags %}
    <section class="tags">
        {% set _class = _class or 'tag-list' %}
        <ul class="{{ _class }}">
            {% for tag in tags %}
                <li>
                    <a class="{% block tag_list_item_class %}tag{% endblock %}" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
