
.format-label {
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 16px 16px;
    text-indent: -900em;
    background: url("../../../base/images/sprite-resource-icons.png") no-repeat 0 0;
}
.format-label {
    width: 32px;
    height: 35px;
    background-position: 0px -62px;
}
.format-label[data-format=csv], .format-label[data-format*=csv] {
    width: 32px;
    height: 35px;
    background-position: -192px -62px;
}
.format-label[data-format=json], .format-label[data-format*=json] {
	width: 32px;
	height: 35px;
	background-position: -288px -62px
}
.format-label[data-format=xml], .format-label[data-format*=xml] {
    width: 32px;
    height: 35px;
    background-position: -256px -62px;
}
.format-label[data-format=xls], .format-label[data-format*=xls] {
    width: 32px;
    height: 35px;
    background-position: -160px -62px;
}








.slider-content_small {
	height: 50px;
}
.container_white {
	background: #ffffff;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
}
.container_white h1, .container_white h2, .container_white h3, .container_white h4 {
	font-family: 'PT Sans', sans-serif;
}
.face-bg {
	padding: 15px 0 40px;
}
.container_dataset {
	padding: 25px;
	-webkit-box-shadow: 0 0 7px #3a3a3a;
        box-shadow: 0 0 7px #3a3a3a;
}

.search-result-title .uou-custom-select .select-clone {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: -1px;
}

.dataset-crumbs {
	padding: 0;
	margin: 7px 0 20px;
}
.dataset-crumbs li {
	display: inline-block;
}
.dataset-crumbs li:after {
	content: "/";
	color: #ffffff;
	font-size: 26px;
}
.dataset-crumbs li:last-child:after {
	content: none;
}
.dataset-crumbs li a {
	color: #ffffff;
	font-size: 26px;
	padding-left: 5px;
	padding-right: 10px;
}
.dataset-crumbs li a:hover {
	color: #fdc600;
}
.main-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url("../img/data_image.jpg") top center no-repeat;
	background-size: cover;
}
header {
	background: #ffffff;
}


.datasets-searchbar {
	border: 1px solid #c4c4c4;
	height: 41px;
	border-radius: 6px;
	padding-right: 50px;
}
/*.searchbar-form button {
	position: absolute;
	top: 0;
	right: 5px;
	background: transparent;
	border: none;
	height: 39px;
	font-size: 30px;
}*/

.search-result-title {
	border-bottom: 1px solid #c4c4c4;
}
.search-result-title .uou-custom-select {
	margin-top: 20px;
	border: 1px solid #c4c4c4;
}
.search-result-title .uou-custom-select span {
	color: rgb(51, 51, 51);
}
.search-result-title .uou-custom-select .fa {
	top: 10px;
}

.filters .module-heading {
	background: #efefef;
	padding: 10px 15px 10px 39px;
	border-left: 3px solid #fdc600;
	margin-bottom: 3px;
	margin-top: 0;
	font-size: 18px;
	position: relative;
}
.filters .module-heading:before {
	content: '';
	position: absolute;
	top: 11px;
	left: 15px;
	font: normal normal normal 18px/1 FontAwesome;
}
.filters .module:first-child .module-heading {
	padding-left: 37px;
}
.filters .module:first-child .module-heading:before {
	content: "\f0f7";
}
.filters .module:nth-child(2) .module-heading {
	padding-left: 42px;
}
.filters .module:nth-child(2) .module-heading:before {
	content: "\f0c0";
}
.filters .module:nth-child(3) .module-heading:before {
	content: "\f02c";
}
.filters .module:nth-child(4) .module-heading:before {
	content: "\f15b";
}
.filters .module:nth-child(5) .module-heading:before {
	content: "\f0f6";
}
.filters .module-content {
	padding: 5px 10px;
}
.filters .nav {
	padding: 0;
	margin: 0;
}
.filters .nav li {
	list-style: none;
    display: block;
    position: relative;
    z-index: 10;
    margin-bottom: 1px;
}

.filters .nav li a {
    display: block;
    padding: 5px 15px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.filters .nav li a:hover {
	background: #efefef;
}
.filters .nav li a:after {
	content: "\f067";
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	top: 8px;
	right: 8px;
	color: #fdc600;
	opacity: 0;
	z-index: 5;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.filters .nav li:hover a:after {
	opacity: 1;
}

.filters .nav li.active a:before {
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 8px solid #fdc600;
}
.filters .nav li.active a:after {
	content: "\f00d";
	color: #333333;
}
.filters .nav li.active a {
	background: #fdc600;
}
.filters .nav li.active a:hover {
	color: #333333;
}

.searchbar-form {
	padding-bottom: 25px;
}
.searchbar-form .search-input {
	margin-bottom: 20px;
	position: relative;
}
.searchbar-form .search-input.search-giant input {
    font-size: 16px;
    padding: 15px 50px 15px 15px;
}
.searchbar-form input[type="text"] {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}
.searchbar-form input[type=text]:focus {
	border-color: rgba(253, 198, 0, 1);
	outline: 0;
	outline: thin dotted \9;
/*	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 
						0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
					0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
				0 0 8px rgba(82,168,236,.6)*/

	box-shadow: inset 0 1px 1px rgba(253, 198, 0, .075),
				0 0 8px rgba(253, 198, 0, .6)
}
.searchbar-form .search-input button {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    height: 20px;
    padding: 0;
    border: none;
    background: transparent;
    color: #909090;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.searchbar-form .search-input.search-giant button {
    margin-top: -15px;
    right: 15px;
    height: 30px;
}
.searchbar-form button:hover {
	color: #333333;
}
.searchbar-form .search-input button span {
    display: none;
}

.searchbar-form .search-input.search-giant button i {
    font-size: 28px;
    width: 28px;
}
.icon-search {
    font: normal normal normal 14px/1 FontAwesome;
}
.icon-search:before {
	content: "\f002";
}

.searchbar-form h2 {
    font-size: 24px;
    line-height: 1.3;
    color: #000000;
    margin-bottom: 0;
    margin-top: 20px;
}

.searchbar-form .control-order-by {
    float: right;
    margin-left: 15px;
}
.searchbar-form .control-order-by label {
	font-size: 15px;
	font-weight: 700;
	margin-right: 5px;
}
.searchbar-form .control-order-by select {
	border: 1px solid #c4c4c4;
	outline: none;
	padding: 3px 8px;
	font-size: 15px;
}


.results-container .dataset-list {
	padding: 0;
	margin: 0;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
}
.results-container .dataset-list > li {
	padding-bottom: 20px;
	list-style: none;
	border-bottom: 1px dashed #c4c4c4;
}
.results-container .dataset-list > li:last-child {
	border-bottom: none;
}
.dataset-list .dataset-heading {
	margin: 20px 0;
	font-size: 18px;
	background: none;
	border: none;
	padding: 0;
}
.dataset-list .dataset-heading a {
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	border-bottom: 1px solid transparent;
}
.dataset-list .dataset-heading a:hover {
	border-color: #fdc600;
}
.dataset-list .dataset-resources {
	padding: 0;
	margin-top: 20px;
}
.dataset-list .dataset-resources li {
	display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 5px;
}
.dataset-list .dataset-resources li a {
	display: block;
    padding: 3px 8px;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    background-color: #fdc600;
}
.dataset-list .dataset-resources li a:hover {
	opacity: .9;
}
.dataset-list p {
	margin: 0;
}

.label[data-format=json], .label[data-format*=json] {
    background-color: #ef7100 !important;
}
.label[data-format=xls], .label[data-format*=xls] {
    background-color: #2db55d !important;
}

/* BLOG */
p.user {
	font-size: 13px;
}

/* Single */
.container_dataset h1 {
	margin: 0;
}
.container_dataset hr {
	border: none;
	border-top: 1px solid #c4c4c4;
}
.dataset-sidebar h1 {
	font-size: 24px;
	margin-bottom: 10px;
}
.dataset-sidebar hr {
	margin-bottom: 0;
	border-top: 1px dashed #c4c4c4;
}

.dataset-sidebar .dataset-price {
	float: left;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	margin-right: 10px;
}


.dataset-sidebar .module-heading {
    background: #efefef;
    padding: 10px 15px;
    border-left: 3px solid #fdc600;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
    position: relative;
}
.dataset-sidebar .module-heading .fa {
	margin-right: 5px;
}
.dataset-sidebar .module-heading .icon-medium {
	font: normal normal normal 14px/1 FontAwesome;
}
.dataset-sidebar .module-heading .icon-medium:before {
	content: "\f023";
}
.dataset-sidebar .module-inner {
	padding: 10px;
}
.dataset-sidebar .module-inner .image {
	text-align: center;
}


.dataset-content h1 {
	font-size: 30px;
	margin-bottom: 20px;
}
.dataset-content h3 {
    background: #efefef;
    padding: 10px 15px;
    border-left: 3px solid #fdc600;
    margin: 10px 0;
    font-size: 18px;
}
.dataset-content hr {
	margin-bottom: 20px;
}

.dataset-content .manage-btn{
    float: right;

    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    /* background-color: #f7f7f7; */
    background-image: -moz-linear-gradient(top,#ffffff,#eaeaea);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#eaeaea));
    background-image: -webkit-linear-gradient(top,#ffffff,#eaeaea);
    background-image: -o-linear-gradient(top,#ffffff,#eaeaea);
    background-image: linear-gradient(to bottom,#ffffff,#eaeaea);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffeaeaea',GradientType=0);
    border-color: #eaeaea #eaeaea #c4c4c4;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}


.resource-list {
	padding: 0;
	list-style: none;
    margin: 0 0 10px;
}
.resource-item {
    position: relative;
    margin-bottom: 1px;
    padding: 10px 10px 10px 60px;
    _background: #efefef;
   	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	border: 1px solid transparent;
}
.resource-item:hover {
	background: rgba(253, 198, 0, .6);
	border: 1px solid #c4c4c4;
}
.resource-item .heading {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}
.resource-item .heading:hover {
	border-bottom-color: #333333;
}
.resource-item .format-label {
    position: absolute;
    top: 10px;
    left: 10px;
}
.resource-item .description {
    font-size: 12px;
    margin-bottom: 0;
    min-height: 12px;
}
.resource-item .btn-group {
    position: absolute;
    top: 10px;
    right: 10px;
}
.resource-item .btn-group .btn-primary {
	background: #c4c4c4;
}


.tag-list {
    margin: 0;
    list-style: none;
    background: #efefef;
    border-left: 3px solid #fdc600;
    padding: 10px 15px;
}
.tag-list li {
    display: inline-block;
    margin-right: 5px;
}
.tag-list li:last-child {
    margin-right: 0;
}
.tag {
    display: inline-block;
    background: #ffffff;
    padding: 3px 10px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
   	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.tag:hover {
	background: rgba(253, 198, 0, .6);
	border-color: rgba(253, 198, 0, .6);
	color: #333333;
}

.additional-info .table {
	width: 100%;
	border: 1px solid #c4c4c4;
}
.additional-info .table th,
.additional-info .table td {
	padding: 5px 15px;
	text-align: left;
	width: 50%;
}
.additional-info .table th {
	border-right: 1px solid #c4c4c4;
}

.additional-info .table tbody tr {
	border-top: 1px solid #c4c4c4;
}
.additional-info .table tbody tr:nth-child(2n+1) {
	background: #efefef;
}
