.followers-count-title {
	margin-top: 20px;
	margin-bottom: 0;
}
.followers-count {
	display: block;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 50px;
}
.license-link {
	background: #efefef;
	border-left: 3px solid #fdc600;
	padding: 10px 15px; 
}
.license-info {
	padding: 0 15px;
	margin-top: 15px;
	line-height: 30px;
}
.single-dataset-title {
	margin-top: 15px;
}
.dataset-resources {
	padding: 15px;
	margin-bottom: 15px;
}
.dataset-resources:hover {
	background: #efefef;
}
.dataset-resources h4 {
	margin: 0;
}
.dataset-resources a:hover h4 {
	color: #fdc600;
}
.dataset-resources p {
	margin-bottom: 0;
}
.dataset-resources .row > div {
	margin-bottom: 10px;
}
.dataset-resources-actions {
	position: relative;
	width: 100%;
	padding: 5px 15px;
	background: #ffffff;
	border: 1px solid #efefef;
	cursor: pointer;
	border-radius: 3px;
}
.dataset-resources-actions .fa {
	position: absolute;
	right: 15px;
	top: 8px;
}
.dataset-resources-actions-popup-area {
	position: relative;
}
.dataset-resources-actions-popup {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 15px;
	background: #ffffff;
	border: 1px solid #efefef;
	border-radius: 3px;
}
.dataset-resources-actions-popup a {
	display: block;
	height: 30px;
	line-height: 30px;
}
.dataset-single-tags {
	background: #efefef;
	border-left: 3px solid #fdc600;
	padding: 10px 15px 7px; 
}
.dataset-single-tags a {
	display: inline-block;
	background: #ffffff;
	padding: 3px 10px;
	margin-right: 5px;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	margin-bottom: 3px;
}
.dataset-single-additional {
	border: 1px solid #c4c4c4;
}
.additional-title {
	font-size: 18px;
}
.dataset-single-additional .row {
	margin: 0 !important;
}
.dataset-single-additional .row:first-child div {
	border-top: none;
} 
.dataset-single-additional .row div {
	border-top: 1px solid #c4c4c4;
	padding: 5px 15px;
}
.dataset-single-additional .row div:first-child {
	border-right: 1px solid #c4c4c4;
}
.dataset-single-additional .row:nth-child(2n+2) {
	background: #efefef;
}
.dataset-single-additional a {
	text-decoration: underline;
}
.additional-info {
	margin-bottom: 60px;
}
.relative-datasets .single-result:last-child {
	border-bottom: none;
}
@media only screen and (max-width : 768px) {
	.dataset-single-additional .row:nth-child(2) > div {
		border-top: none;
	}
	.dataset-single-additional .row > div {
		display: block;
		width: 100%;
	}
	.dataset-single-additional .row div:first-child {
		border-right: none;
	}
	.dataset-single-additional .row div:nth-child(2) {
		border-top: none;
	}
}

