html, body {
	width: 100%;
	height: 100%;
}
header {
	background: #ffffff;
}
.fullscreen-block {
	width: 100%;
	min-height: 100%;
	margin-top: -52px;
	padding-top: 130px;
	background: url("../img/data_image.jpg") top center no-repeat;
	background-size: cover;
}
.clearfix:before, .clearfix:after {
	content: "";
	clear: both;
	display: table;
	width: 100%;
	height: 0px;
}
.header-search .header-search-bar {
	position: static;
	margin-bottom: 80px;
}
.black-bg {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.63);
}
.black-bg h1, .call-to-action h2 {
	color: #ffffff;
	text-align: center;
}
.call-to-action {
	margin-bottom: 100px;
}
.call-to-action p {
	text-align: center;
}
.fa-arrowz {
	font-size: 30px;
	text-align: center;
	padding-top: 22px;
}
.call-to-action-margin {
	padding-left: 4.5%;
	float: left;
	height: 50px;
}
#go-down {
	margin-top: 15px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.63);
	font-size: 30px;
	color: #ffffff;
	margin-bottom: 10px;
}
.forum-latest .forum-widget .topics-box .topic {
    border-bottom: #EAEDF1 dashed 2px;
}
.forum-latest {
    background: #EAEDF1;
}
.forum-latest .forum-widget .topics-box {
    background: #ffffff;
}
.forum-latest .header {
    border-radius: 6px 6px 0 0;
}
.forum-latest .forum-widget .topics-box {
    border-radius: 0 0 6px 6px;
}
.single-topic-area > * {
	float: left;
}
.single-topic-area a {
	margin-left: 20px;
	font-size: 20px;
	line-height: 20px;
	font-family: 'PT Sans', sans-serif !important;
	font-weight: 600;
}
.single-topic-area p {
	display: inline;
	margin-top: 0;
	margin-left: 20px !important;
	clear: none !important;
}
.forum-post-by {
	color: #fdc600;
}
.topic-prev-desc {
	width: 400px;
}









@media only screen and (max-height : 960px) {
	.fullscreen-block {
		padding-top: 100px;
	}
	.header-search {
	    min-height: 100px;
	}
	.call-to-action {
	    margin-bottom: 80px;
	}
	.header-search .header-search-bar {
	    position: static;
	    margin-bottom: 60px;
	}
}
@media only screen and (max-height : 905px) {
	.fullscreen-block {
		padding-top: 70px;
	}
	.header-search {
	    min-height: 70px;
	}
	.call-to-action {
	    margin-bottom: 40px;
	}
}
@media only screen and (max-height : 825px) {
	.header-search .header-search-bar {
	    margin-bottom: 40px;
	}
	.header-search {
	    min-height: 50px;
	}
	.call-to-action {
	    margin-bottom: 20px;
	}
}
@media only screen and (max-width : 992px) {
	.topic-prev-desc {
	    width: 240px;
	}
}
