<footer id="footer">
  <div class="main-footer">
    <div class="container">

      <div class="row">
        <div class="footer-section">
          <div class="about-globo">
            <h3>OASIS marketplace</h3>
            <div class="footer-logoz">
              <a href="#"><img width="260px" src="/img/oasis_lmf.png" alt=""></a>
            </div>
            <p>Oasis LMF’s  plug and play model makes it easy for new entrants to come into the market. By providing access to the simulation kernel and financial module for free. Oasis allows new players to share their models and views of risk to the market.
The Oasis Loss Modelling Framework is positioning itself as a new method of cat modelling. It will allow model users to undertake full uncertainty calculations within a given model combination and to test a variety of models to illustrate the sensitivity of results from each model.


</p>
          </div>
                            <!-- End .about-globo -->
        </div>
        <!-- end Grid layout-->

        <div class="footer-section">
          <h3>Latest News</h3>
            {% if h.footer_news() %}
            {% for n in h.footer_news() %}
              <div class="latest-post clearfix">
              <div class="post-image">
                <img src="{{ n.image_url or '/img/latest_post_1.jpg' }}" alt="">
                <p>{{ n.date }}</p>
              </div>
              <h4><a href="{{ n.url }}">{{ n.title }}</a></h4>
              <p>{{ n.intro|safe }}</p>
            </div>
            {% endfor %}
            {% endif %}


        </div>
        <!-- end Grid layout-->

        <div class="footer-section">
          <div class="popular-categories">
            <h3>RECENT Uploads</h3>
            <ul>

                <li><a href="#">A NOVEL BY TOLSTOY</a></li>
                <li><a href="#">A WONDERFUL STORY</a></li>
                <li><a href="#">PARTURIENT LOREM COMMODO</a></li>

            </ul>
          </div>
          <!-- end .popular-categories-->
        </div>
        <!-- end Grid layout-->
        <div class="footer-section">
          <div class="newsletter">
            <h3>Keep In Touch</h3>
              <ul class="list-inline">
                <li><a href="#"><i class="icon-medium icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-medium icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-medium icon-google-plus"></i></a></li>
                <li><a href="#"><i class="icon-medium icon-linkedin"></i></a></li>
              </ul>
          </div>
          <!-- end .newsletter-->
        </div>
        <!-- end Grid layout-->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .container -->
  </div>
  <!-- end .main-footer -->

  <div class="copyright">
    <div class="container">
      <p>Copyright 2015 &copy; OASIS. All rights reserved.</p>

      <ul class="list-inline">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Licence</a></li>
       </ul>
    </div>
  </div>

  {% block footer_debug %}
	    {% if g.debug %}
	      {% include 'snippets/debug.html' %}
	    {% endif %}
	  {% endblock %}

</footer>