<header id="header">
    <div class="header-top-bar">

        <div class="container">

            <div class="main-logo">
              <a href="/"><img src="/img/full_logo.png" alt="Logo"></a>
            </div>

            <!-- top navigation -->
            <div class="header-nav-bar">
                <nav>
                    <button><i class="icon-reorder"></i></button>

                  <ul class="primary-nav list-unstyled">
                    {% if h.top_menu() %}
                    {% for item in h.top_menu() %}
                      <li>
                        <a href="{{ item.url }}">{{ item.title }}
                          {% if item.childs %}<i class="icon-medium icon-angle-down"></i>{% endif %}
                        </a>
                        <ul>
                        {% for child in item.childs %}
                          <li><a href="{{ child[0] }}">{{ child[1] }}</a></li>
                        {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}
                    {% endif %}
                  </ul>

                </nav>
            </div>


<!-- <div class="reg-name">
    
      

      <div class="reg-name-inner" style="display: none;">
        <p class="user-email">andrii.koval@devrecords.com</p>
        <a href="/user/login/"><i class="fa fa-user"></i> Profile</a>
        
          <a href="/admin"><i class="fa fa-lock"></i> Manage</a>
        
        

        <a class="browserid-logout" href="/browserid/logout/" data-next="/">
          <span>Logout</span>
        </a>

      </div>

      
    </div> -->


 {% block header_account %}
  <header class="account-masthead">

      {% block header_account_container_content %}
        {% if c.userobj %}
          <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <span class="user-name">Welcome, {{ c.userobj.name }} </span>

            <a href="#" class="user-btn"><i class="icon-cog"></i></a>

            <ul class="unstyled user-nav">

              {% block header_account_logged %}

              <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" title="{{ _('View profile') }}">
                  <i class="icon-user"></i>Profile
                </a>
              </li>

              <li>
                <a href="/dashboard"><i class="icon-tasks"></i>Datasets</a>
              </li>

                {# todo: show only for staff #}
                <li>
                  <a href="/admin"><i class="icon-edit-sign"></i>Edit Pages</a>
                </li>

              <!-- show only for admin -->
              {% if c.userobj.sysadmin %}
                <li>
                  <a href="/secret-area"><i class="icon-cogs"></i>Secret Area</a>
                </li>
              {% endif %}

              {% block header_account_settings_link %}
              {% endblock %}

                <li><a href="/logout">Logout</a></li>
              {% endblock %}
            </ul>
          </div>
        {% else %}
          <nav class="account not-authed">
            <ul class="unstyled">
              {% block header_account_notlogged %}

                <a href="/login" class="btn btn-account">Login</a>
                <a href="/user/register" class="btn btn-account">Create Account</a>

              {% endblock %}
            </ul>
          </nav>
        {% endif %}
      {% endblock %}

  </header>
{% endblock %}

        </div>
    </div>

</header>
