@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#header .header-nav-bar .primary-nav ul {
    display: none;
    top: 100%;
}

#header .header-nav-bar .primary-nav > li:hover ul {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
}


#footer .main-footer p {
    font-size: 13px;
}

.footer-logoz a img {
    width: 82%;
    opacity: .8;
}

.footer-logoz a img:hover {
    opacity: 1;
}

/*
 flash key msg
*/

.flash-messages-inside {
      background: #fff;
      padding: 15px 15px 20px;
      margin-bottom: 15px;
      margin-top: 15px;
}

.flash-messages-inside .span10 {
      margin-left: 0;
}

.flash-messages-inside h2 {
      margin-top: 0;
}

.flash-messages-inside input, .flash-messages-inside .btn {
      width: 100%;
      margin: 0;
}

.flash-messages-inside input {
      height: 32px;
}